<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial")
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5" style="border: 2px solid red">
				<div class="view-product">
					<img src="~/media/products/@Model.Image" alt="" />
	
				</div>
			</div>
			<div class="col-sm-7">
				<div class="product-information" style="background-color:#4A5D22; border: 2px solid red; padding-bottom: 60px;padding-left: 40px;padding-top: 60px; padding-right: 40px">
					<!--/product-information-->
					
					<h2 style="color:white">@Model.Name</h2>
					
					<span>
						<span>@Model.Price VND </span>
						<label style="margin-left:100px;color:white">Số Lượng :     1</label>
						<a style="color: black;border-radius:10px;margin-left:40px" class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@Model.Id"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
					</span>
					<p style="color:white" ><b>Thương Hiệu:</b> @Model.Brand.Name</p>
					<p style="color:white"><b>Danh Mục:</b> @Model.Category.Name</p>
					<p style="color:white"><b>Mô Tả:</b>@Html.Raw(@Model.Description)</p>
					<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

	</div>
</div>