@model IEnumerable<ProductModel>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>
<style>
	.product-image-wrapper{
		height:450px;
	}

	.single-products:hover{
		margin-top: 5px;
	 }
</style>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center" style="color:black">Danh Sách Sản Phẩm</h2>
		@foreach (var item in Model)
		{

			<div class="col-sm-4">
				<div class="product-image-wrapper" style="border: 2px solid red;border-radius:10px">

                    <div class="single-products" style="border-radius:10px">

						<div class="productinfo text-center" style="background-color:#4A5D22; border-radius:10px">
							<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
								<img src="~/media/products/@item.Image" alt="@item.Name" width="100%"/>
								<h2 style="color:red">@item.Price VND</h2>
								<p style="color: white">@item.Name</p>
								<p style="color: white">Danh Mục: @item.Category.Name</p>
								<p style="color: white">Thương hiệu: @item.Brand.Name</p>
                            </a>
							<a style="color: red;border-radius:10px" class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                            </div>
					</div>
				</div>
			</div>
		}
	</div>
</div>