@model IEnumerable<ProductModel>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>
<style>
	.product-image-wrapper {
		height: 450px;
	}

	.single-products:hover {
		margin-top: 5px;
	}
</style>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Danh Sách Sản Phẩm</h2>
		@foreach (var item in Model)
		{

			<div class="col-sm-4">
				<div class="product-image-wrapper" style="border: 2px solid red; border-radius:10px">
					<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                        <div class="single-products" style="border-radius:10px">
							<div class="productinfo text-center" style="background-image:linear-gradient(grey 0%, pink 100%); border-radius:10px">
								<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
								<h2 style="color:red">@item.Price VND</h2>
								<p style ="color:black">@item.Name</p>
								<p style="color:black">Danh Mục: @item.Category.Name</p>
								<p style="color:black">Thương hiệu: @item.Brand.Name</p>
								<a style="border-radius:10px" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
						</div>
					</a>
				</div>
			</div>
		}
	</div>
</div>